# Local Terraform directories and cache
.terraform/
.terraform.*

# Local state files (if generated accidentally)
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Python
__pycache__/
*.pyc

# zip
*.zip
.DS_Store

# Crash logs
crash.log

# Variables files containing sensitive data
*.tfvars
.env
